<h1>New Message</h1>
<form method="POST" action="/new">
    <label for="authorname">Author name:</label>
    <input type="text" id="authorname" name="authorname">
    <label for="message">Message:</label>
    <input type="text" id="message" name="message">
    <input type="submit" value="Submit">
</form>